* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    /* background-color: #8758FF; */
    background-color: #170f1e;
}

.outer_card {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    height: 350px;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    border-radius: 50%;
    top: 20%;
    /* left: 50%; */
    border: 2px solid #170f1e;
    /* box-shadow: 0 35px 65px rgba(6, 34, 70, 0.6); */
    box-shadow: 0 35px 65px rgba(229, 225, 230, 0.1);
    overflow: hidden;
}
.card img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: cover;
    transition: 0.5s;
}
.h3 {
    /* background-color: #8758FF; */
    background-color: #170f1e;
    width: max-content;
    position: absolute;
    bottom: 80px;
    right: -60%;
    padding: 10px 35px;
    color: #e5e1e6;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    transform: skew(-5deg);
    transition: 0.3s;
    display: none;
    border-radius: 50px 10px;
}
.h5 {
    background-color: #ffffff;
    color: #170f1e;
    width: -webkit-fill-available;
    padding: 12px 25px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    position: absolute;
    right: -85%;
    bottom: 37px;
    transform: skew(-5deg);
    transition: 0.3s;
    display: none;
}
.card:hover h3,
.card:hover h5 {
    right: -2%;
    display: block;
}
.card:hover img {
    transform: scale(1.15);
    filter: contrast(120%);
}

.headline {
    color: #e5e1e6;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 30px 0px 30px 0px;
    letter-spacing: 5px;
    text-shadow: rgb(255 215 77 / 60%) -1px -1px 6px,
        rgb(124 127 255 / 60%) 1px 1px 6px;
}




.navigation {
    position: relative;
    display: flex;
    top: 25pc;
    z-index: 200;
    justify-content: center;
    align-items: center;
}

.menuToggle {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.menuToggle::before {
    content: '+';
    position: absolute;
    font-size: 2.8em;
    color: #170f1e;
    transition: 1.5s;
}

.menuToggle.active::before {
    transform: rotate(315deg);
}

.menu {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 70px;
    z-index: -1;
    transition: transform 0.5s, width 0.5s, height 0.5s;
    transition-delay: 1s, 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menuToggle.active~.menu {
    width: min-content;
    height: 75px;
    z-index: 1;
    transform: translateY(-80px);
    transition-delay: 0s, 0.5s, 0.5s;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    padding: 0px 25px;
}

.menu::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    left: calc(50% - 8px);
    bottom: 4px;
    transform: rotate(45deg);
    border-radius: 2px;
    transition: 0.5s;
}

.menuToggle.active~.menu::before {
    transition-delay: 0.5s;
    bottom: -6px;
}

.menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 30px;
}

.menu ul li {
    list-style: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);
    transition: 0.25s;
    transition-delay: calc(0s + var(--i));
}

.menuToggle.active~.menu ul li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: calc(0.75s + var(--i));
}

.menu ul li a {
    display: block;
    font-size: 2.2em;
}