---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

<head>

    <title>{{ page.name }} | Hacktoberfest 2022</title>

    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <meta name=description content="{{ site.bio }}">
    <meta name=author content="{{ site.name }}">

    {% include favicon.html %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Product+Sans:900">
    <link rel="stylesheet" href="../style.css">

</head>

<body>


    <div class="headline">
        <h1>HACKTOBERFEST 2022</h1>
    </div>
    <div class="outer_card">
        <div class="card">
            <img src="{{ page.picture }}" />
            <h5 class="h5">{{ page.tag }}</h5>
            <h3 class="h3">{{ page.name }}</h3>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/12642bc27d.js" crossorigin="anonymous"></script>


    <div class="navigation">
        <div class="menuToggle"></div>
        <div class="menu">
            <ul>
                {% if page.email %}
                <li style="--i:0.0s"><a data-title="{{ page.email }}" href="mailto:{{ page.email }}" target="_blank">
                        <i title="Email" class="fa-solid fa-envelope" style="color: #6d4d9c;"></i>
                    </a></li>
                {% endif %}

                {% if page.google %}
                <li style="--i:0.0s"><a data-title="{{ page.google }}" href="{{ page.google }}" target="_blank">
                        <i title="Google" class="fa-brands fa-google" style="color: #6d4d9c;"></i>
                    </a></li>
                {% endif %}

                {% if page.facebook %}
                <li style="--i:0.0s"><a data-title="{{ page.facebook }}" href="{{ page.facebook }}" target="_blank">
                        <i title="Facebook" class="fa-brands fa-facebook" style="color: #6d4d9c;"></i>
                    </a></li>
                {% endif %}

                {% if page.instagram %}
                <li style="--i:0.0s"><a data-title="{{ page.instagram }}" href="{{ page.instagram }}" target="_blank">
                        <i title="Instagram" class="fa-brands fa-instagram" style="color: #6d4d9c;"></i>
                    </a></li>
                {% endif %}
                
                {% if page.linkedin %}
                <li style="--i:0.0s"><a data-title="{{ page.linkedin }}" href="{{ page.linkedin }}" target="_blank">
                    <i title="LinkedIn" class="fa-brands fa-twitter" style="color: #6d4d9c;"></i>
                </a></li>
                {% endif %}

                {% if page.github %}
                <li style="--i:0.0s"><a data-title="{{ page.github }}" href="{{ page.github }}" target="_blank">
                    <i title="Github" class="fa-brands fa-github" style="color: #6d4d9c;"></i>
                </a></li>
                {% endif %}

                {% if page.medium %}
                <li style="--i:0.0s"><a data-title="{{ page.medium }}" href="{{ page.medium }}" target="_blank">
                    <i title="Medium" class="fa-brands fa-medium" style="color: #6d4d9c;"></i>
                </a></li>
                {% endif %}

                {% if page.youtube %}
                <li style="--i:0.0s"><a data-title="{{ page.youtube }}" href="{{ page.youtube }}" target="_blank">
                    <i title="YouTube" class="fa-brands fa-youtube" style="color: #6d4d9c;"></i>
                </a></li>
                {% endif %}

                {% if page.stackoverflow %}
                <li style="--i:0.0s"><a data-title="{{ page.stackoverflow }}" href="{{ page.stackoverflow }}" target="_blank">
                    <i title="Stackoverflow" class="fa-brands fa-stack-overflow" style="color: #6d4d9c;"></i>
                </a></li>
                {% endif %}

            </ul>
        </div>
    </div>


    <script>
        let menuToggle = document.querySelector('.menuToggle');
        menuToggle.onclick = function () {
            menuToggle.classList.toggle('active');
        }
    </script>

</body>

</html>